<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135742675758-tcvpdbi10t107t8ngpioo8u9eks03kfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135742675758-tcvpdbi10t107t8ngpioo8u9eks03kfu</string>
	<key>API_KEY</key>
	<string>AIzaSyDXIIO7YInb4iSqwViSpfhq1loQSe_eNp4</string>
	<key>GCM_SENDER_ID</key>
	<string>135742675758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GeorgeTeam.AppointmentProject</string>
	<key>PROJECT_ID</key>
	<string>nhealth-18c7d</string>
	<key>STORAGE_BUCKET</key>
	<string>nhealth-18c7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135742675758:ios:774055ba57b69ed4c978bf</string>
</dict>
</plist>